<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org/DTD config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="role" type="com.ian.mybatis.po.Role"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.ian.plugin.MyPlugin">
            <property name="dbType" value="mysql"/>
        </plugin>
        <!--<plugin interceptor="com.ian.plugin.QueryLimitPlugin">
            <property name="dbtype" value="mysql"/>
            <property name="limit" value="50"/>
        </plugin>-->
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatistest"/>
                <property name="username" value="root"/>
                <property name="password" value="1234567"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/ian/mapper/po/roleMapper.xml"/>
        <mapper resource="com/ian/mybatis/dao/student.xml" />
    </mappers>
</configuration>